.rating {
  height: 12px;
  width: 75px;
  background: left center / 12px 15px repeat-x;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="15" height="12"><path fill="#C6C6C6" fill-rule="nonzero" d="M10.5 0h-9C.6716 0 0 .6716 0 1.5v9c0 .8284.6716 1.5 1.5 1.5h9c.8284 0 1.5-.6716 1.5-1.5v-9c0-.8284-.6716-1.5-1.5-1.5zm-.1103 5.085L8.6783 6.506a.5339.5339 0 0 0-.1762.5425l.5493 2.1556c.1192.4678-.3945.841-.8026.583L6.3685 8.5988a.5338.5338 0 0 0-.5704 0L3.9178 9.7872c-.4081.2579-.9217-.1153-.8025-.5831l.5492-2.1556a.5338.5338 0 0 0-.1762-.5424L1.7769 5.085c-.3714-.3085-.1752-.9123.3065-.9435l2.2198-.1437a.5338.5338 0 0 0 .4615-.3353l.8226-2.0667c.1786-.4485.8135-.4485.992 0l.8226 2.0667a.534.534 0 0 0 .4615.3353l2.2198.1437c.4817.0312.678.635.3065.9434z"/></svg>');
  .stars {
    height: 12px;
    width: 0;
    background: left center / 12px 15px repeat-x;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="15" height="12"><path fill="#FF6E00" fill-rule="nonzero" d="M10.5 0h-9C.6716 0 0 .6716 0 1.5v9c0 .8284.6716 1.5 1.5 1.5h9c.8284 0 1.5-.6716 1.5-1.5v-9c0-.8284-.6716-1.5-1.5-1.5zm-.1103 5.085L8.6783 6.506a.5339.5339 0 0 0-.1762.5425l.5493 2.1556c.1192.4678-.3945.841-.8026.583L6.3685 8.5988a.5338.5338 0 0 0-.5704 0L3.9178 9.7872c-.4081.2579-.9217-.1153-.8025-.5831l.5492-2.1556a.5338.5338 0 0 0-.1762-.5424L1.7769 5.085c-.3714-.3085-.1752-.9123.3065-.9435l2.2198-.1437a.5338.5338 0 0 0 .4615-.3353l.8226-2.0667c.1786-.4485.8135-.4485.992 0l.8226 2.0667a.534.534 0 0 0 .4615.3353l2.2198.1437c.4817.0312.678.635.3065.9434z"/></svg>');
    @for $i from 1 through 50
    {
      &.stars-#{$i} {
        width: 1.2px * $i + floor($i / 10) * 3px;
      }
    }
  }
}